.product-box {
    display: flex;
    flex-wrap: wrap;

    &__item {
        position: relative;
        transition: all 0.3s;

        &_nth4_margin {
            margin-bottom: 40px;
            margin-right: 32px;
        }

        &_nth3_margin {
            margin-bottom: 40px;
            margin-right: 31px;
        }

        &_nth4_margin:nth-child(4n) {
            margin-right: 0;
        }

        &_nth3_margin:nth-child(3n) {
            margin-right: 0;
        }

        &:hover {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
            transform: scale(1.05);
        }

        &:hover .product-box__hover-item {
            display: block;
        }
    }

    &__link-item {
        text-decoration: none;
        display: block;
    }

    &__img-item {
        width: 261px;
        height: 280px;
    }

    &__hover-item {
        display: none;
        text-align: center;
        position: absolute;
        top: 0;
        width: 261px;
        height: 280px;
        background-color: rgba(58, 56, 56, 0.83);

        &-btn {
            display: inline-block;
            text-decoration: none;
            width: 57px;
            height: 38px;
            background-color: rgba(255, 255, 255, 0.0);
            border: 1px solid #ffffff;
            border-radius: 3px;

            &:hover {
                filter: drop-shadow(0px 0px 3px white);
            }

            &_margin {
                margin: 4px;
            }
        }

        &-text {
            font-size: 20px;
            color: #ffffff;
            line-height: 38px;
        }
    }

    &__btn-add-to-cart {
        display: inline-flex;
        padding: 0 13px;
        border: 1px solid #ffffff;
        text-decoration: none;
        margin-top: 98px;
        font-size: 13px;
        line-height: 39px;
        font-weight: 700;
        color: #ffffff;
        transition: all 0.3s;

        &_product-page {
            border-radius: 3px;
            margin-bottom: 4px;
        }
    }

    &__btn-img-cart {
        margin-right: 8px;
    }

    &__btn-add-to-cart:hover {
        filter: drop-shadow(0px 0px 3px white);
    }

    &__block-price {
        padding: 10px 15px;
        background-color: #ffffff;
    }

    &__name-product {
        font-size: 13px;
        line-height: 26px;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
    }

    &__price {
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: #f16d7f;
    }
}